# Paper

Data used is stock price from 2020 - July 2024.

In [1]:
import pandas as pd
import os
from PIL import Image
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional
from keras.optimizers import SGD
import math
from sklearn.metrics import mean_squared_error
sc = MinMaxScaler(feature_range=(0,1)) #normalisasi dari 0 - 
# importing libraries
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import SimpleRNN
from keras.layers import Dropout

WARNING:tensorflow:From c:\Users\ThinkPad\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

## Long Term
Data used is:
- Train : 2020 - 2022 (3 year)
- Test : 2023 - July 2024 (1 year 7 month )

In [11]:
model_long = pd.read_csv("../result_paper_tuning/result_long_tuning.csv")
model_long.head()

,stock,term,algorithm,rmse,rmse_norm,epoch,unit,optimizer,batch_size
0,ASII,long,LSTM,183.016672,0.072196,50,50,rmsprop,32
1,ASII,long,GRU,172.779083,0.068157,50,50,rmsprop,32
2,ASII,long,RNN,114.783293,0.045279,50,50,rmsprop,32
3,AMRT,long,LSTM,85.819877,0.161924,50,50,rmsprop,32
4,AMRT,long,GRU,378.519532,0.424805,50,50,rmsprop,32

### ASII

In [15]:
data_ASII = model_long[model_long["stock"] == "ASII"]
data_ASII.head()

,stock,term,algorithm,rmse,rmse_norm,epoch,unit,optimizer,batch_size
0,ASII,long,LSTM,183.016672,0.072196,50,50,rmsprop,32
1,ASII,long,GRU,172.779083,0.068157,50,50,rmsprop,32
2,ASII,long,RNN,114.783293,0.045279,50,50,rmsprop,32
18,ASII,long,LSTM,174.668844,0.068903,50,50,adam,32
19,ASII,long,GRU,90.945713,0.035876,50,50,adam,32

#### LSTM

#### GRU

#### RNN

#### Best Model

### AMRT

In [16]:
data_AMRT = model_long[model_long["stock"] == "AMRT"]
data_AMRT.head()

,stock,term,algorithm,rmse,rmse_norm,epoch,unit,optimizer,batch_size
3,AMRT,long,LSTM,85.819877,0.161924,50,50,rmsprop,32
4,AMRT,long,GRU,378.519532,0.424805,50,50,rmsprop,32
5,AMRT,long,RNN,61.072109,0.115230,50,50,rmsprop,32
21,AMRT,long,LSTM,89.416180,0.168710,50,50,adam,32
22,AMRT,long,GRU,85.725099,0.161745,50,50,adam,32

#### LSTM

#### GRU

#### RNN

#### Best Model

### ADRO

In [17]:
data_ADRO = model_long[model_long["stock"] == "ADRO"]
data_ADRO.head()

,stock,term,algorithm,rmse,rmse_norm,epoch,unit,optimizer,batch_size
6,ADRO,long,LSTM,142.066104,0.089915,50,50,rmsprop,32
7,ADRO,long,GRU,186.157352,0.117821,50,50,rmsprop,32
8,ADRO,long,RNN,161.447083,0.097582,50,50,rmsprop,32
24,ADRO,long,LSTM,128.380001,0.081253,50,50,adam,32
25,ADRO,long,GRU,128.533285,0.081350,50,50,adam,32

#### LSTM

#### GRU

#### RNN

#### Best Model

### MAPI

In [18]:
data_MAPI = model_long[model_long["stock"] == "MAPI"]
data_MAPI.head()

,stock,term,algorithm,rmse,rmse_norm,epoch,unit,optimizer,batch_size
9,MAPI,long,LSTM,91.273075,0.113383,50,50,rmsprop,32
10,MAPI,long,GRU,128.009271,0.147683,50,50,rmsprop,32
11,MAPI,long,RNN,94.488944,0.105479,50,50,rmsprop,32
27,MAPI,long,LSTM,90.775873,0.112765,50,50,adam,32
28,MAPI,long,GRU,100.168446,0.118075,50,50,adam,32

#### LSTM

#### GRU

#### RNN

#### Best Model

### KLBF

In [ ]:
data_AMRT = model_long[model_long["stock"] == "AMRT"]
data_AMRT.head()

#### LSTM

#### GRU

#### RNN

#### Best Model

### TLKM

## Medium Term
Data used is:
- Train : 2023 (1 year)
- Test : January - July 2024 (7 month)

In [12]:
model_medium = pd.read_csv("../result_paper_tuning/result_medium_tuning.csv")
model_medium.head()

,stock,term,algorithm,rmse,rmse_norm,epoch,unit,optimizer,batch_size
0,ASII,medium,LSTM,260.137083,0.194859,50,50,rmsprop,32
1,ASII,medium,GRU,174.401087,0.121864,50,50,rmsprop,32
2,ASII,medium,RNN,337.119504,0.180535,50,50,rmsprop,32
3,AMRT,medium,LSTM,72.171872,0.176029,50,50,rmsprop,32
4,AMRT,medium,GRU,67.187506,0.153464,50,50,rmsprop,32

### ASII

#### LSTM

#### GRU

#### RNN

#### Best Model

### AMRT

#### LSTM

#### GRU

#### RNN

#### Best Model

### ADRO

#### LSTM

#### GRU

#### RNN

#### Best Model

### MAPI

#### LSTM

#### GRU

#### RNN

#### Best Model

### KLBF

#### LSTM

#### GRU

#### RNN

#### Best Model

### TLKM

#### LSTM

#### GRU

#### RNN

#### Best Model

## Short Term
Data used is:
- Train : January - September 2023 (9 month)
- Test : Oktober - Desember 2023 (3 month)

In [13]:
model_short = pd.read_csv("../result_paper_tuning/result_short_tuning.csv")
model_short.head()

,stock,term,algorithm,rmse,rmse_norm,epoch,unit,optimizer,batch_sizeASII,short,LSTM,163.22273232263802,0.19202674390898594,50,50.1,rmsprop,32
0,ASII,short,GRU,105.502766,0.124121,50,50,rmsprop,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ASII,short,RNN,198.967726,0.194868,50,50,rmsprop,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AMRT,short,LSTM,75.524925,0.187020,50,50,rmsprop,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AMRT,short,GRU,55.210275,0.138026,50,50,rmsprop,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AMRT,short,RNN,77.281137,0.183477,50,50,rmsprop,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### ASII

#### LSTM

#### GRU

#### RNN

#### Best Model

### AMRT

#### LSTM

#### GRU

#### RNN

#### Best Model

### ADRO

#### LSTM

#### GRU

#### RNN

#### Best Model

### MAPI

#### LSTM

#### GRU

#### RNN

#### Best Model

### KLBF

#### LSTM

#### GRU

#### RNN

#### Best Model

### TLKM

#### LSTM

#### GRU

#### RNN

#### Best Model